
.backgound-main-content {
  flex: 1;
  background-color: white;
  border-radius: 8px;
  width: 1028;
  height: 694;
  left: 228px;
  top: 1px;
  padding: 0px 20px;
  margin-top: 80px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-left: 190px;
  /* Same width as Sidebar */
}

.dashboard-container {
 background-color: rgba(245, 252, 254, 1);

}
.main-content {
    flex: 1;
    background-color: white;
    border-radius: 8px;
    width: 1028;
    height: 694;
    left: 228px;
    top: 1px;
    padding: 0px 20px;
    margin-top: 80px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: 190px;
    /* Same width as Sidebar */
  }
  
  .dashboard-container {
   background-color: rgba(245, 252, 254, 1);
  
  }



  @media (max-width: 768px) {
    .backgound-main-content,
    .main-content {
      /* width: 100% !important; */
      height: auto;
      margin: 60px 10px 10px 170px;
      padding: 12px;
      width: auto;
      }
  }
  
  @media (max-width: 480px) {
    .backgound-main-content,
    .main-content {
      /* width: 100% ; */
      height: auto;
      margin: 60px 0px 10px 10px;
      padding: 0px;
      background: none;
      box-shadow: none;
    }
  }
  