.attendance-table {
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  overflow: hidden;
}

.attendance-table th {
  background-color: rgba(235, 250, 255, 1);
  color: rgba(144, 144, 144, 1);
  font-size: 14px;

}

.attendance-table h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  background-color: #f5f7fa;
  color: #555;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  border-bottom: 2px solid #e0e0e0;
}

tbody td {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  color: #555;
}

tbody tr:hover {
  background-color: #f9f9f9;
}

.no-records {
  text-align: center;
  color: #999;
  padding: 20px;
}

.tasks-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-btn {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
  transition: color 0.3s ease;
}

.edit-btn:hover {
  color: #0056b3;
}

.attendance-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.week-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.week-controls button {
  background: #e0f0ff;
  border: none;
  padding: 0px 2px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.week-range {
  font-size: 14px;
  color: rgba(48, 48, 48, 1);
  font-weight: bold;
}

.tasks-cell input {
  padding: 4px;
  width: 120px;
  margin-right: 6px;
}

.edit-btns,
button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #007bff;
}

.week-controls {
  background-color: rgba(246, 246, 246, 1);
  color: rgba(48, 48, 48, 1);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  /* translucent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  width: 582px;
  height: 270px;
  top: 273px;
  left: 399px;
  border-radius: 10px;
  border-width: 1px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.modal-content h4 {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-left: 18px;
  font-size: 18px;
}
.modal-content textarea {
  height: 100px;
  width: 90%;
  margin: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.modal-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 12px;
}

.modal-actions .cancel-btn {
  background-color: #e0e0e0;
  border: none;
  padding: 6px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.modal-actions .save-btn {
  background-color: #00aaff;
  color: white;
  border: none;
  padding: 6px 16px;
  border-radius: 8px;
  cursor: pointer;
}